<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel='stylesheet' type='text/css' href='/styles/style.css'>
    <title>Document</title>
</head>
<header>
    <div class='left'>
            <!-- https://www.flaticon.com/authors/freepik -->
            <img src='https://image.flaticon.com/icons/svg/1287/1287036.svg'>
    </div>
    <nav>
        <ul>
            <li>
                <a id ='home' href='/'>Home</a>
            </li>
            <li>
                <a id ='about' href='/todos/about'>About</a>
            </li>
            <li>
                <a id ='toDos' href='/user'>To Dos</a>
            </li>
        </ul>
    </nav>
</header>
<body>
    <div class='jumbo'>