<%- include ('partials/boilerplate') %>


<div class='container'>
    <h1>Welcome to the To-Do App</h1>
    <div class='row'>
        <a class='click' href='/auth/login'>Log In</a>
        <a class='click' href='/user/new'>Register</a>
    </div>
</div>

<%- include ('partials/end') %>