body{
  margin:0;
}
.jumbo{
  height:100vh;
  display: flex;
  flex-direction: column;

}
header {
    background-color: #999;
    display: flex;
  }
  
  nav {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
  }
  
  nav ul {
    display: flex;
    padding: 10px 5vw;
    /* text-align: center; */
    list-style: none;
  }
  
  nav ul li {
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 3em;
    transition: 0.5s;
  }
  .left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  nav ul li a{
    text-decoration: none;
    color: white;
  }
  
  nav ul li:hover {
    /* background-color: rgba(0,0,0,0.5); */
    text-decoration: underline;
    background-color:#17a1fa;
  }
  
  a:hover {
    border-bottom-color: #17a1fa;
  }
  
  img{
    height:50px;
    width: auto;  
    margin-left: 10px;
  }
  .container{
    display: flex;
    flex-direction: column;
    align-items:center;
    flex-grow:1;
  }
  .button{
    text-decoration: none;
    color:white;
    padding: 10px 20px;
    background-color: #17a1fa;
    border-radius: 5px;
  }
  .todo{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    min-width: 25em;
  }
  .top-row{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid black;
    align-items: flex-end;
    flex-wrap: wrap;
    padding: .35em;
  }
  .bottom-row{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    flex-wrap: wrap;
    padding: .35em;
  }
  .left{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-grow:1;
  }
  .right{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .click{
    margin: .25em;
    padding: .25em;
    text-decoration: none;
    background-color:#17a1fa;
    border: none;
    color: white;
    border-radius: 2px;
    
  }
  /* .delete{
    margin:0;
    height:0;
  } */
  footer{
    padding: 10px 20px;
    height: 100px;
    background-color: #999;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-size: 1.5em;
  }
  