<%- include('../partials/boilerplate') %>
    <div class='container'>
        <h1>Welcome to the To-Do App!</h1>
        <p>You can orgnize all your tasks right here.
            Just login or register and click on the 
            to-do tab to get started!
        </p>
    </div>








<%- include('../partials/end') %>