<%- include('../partials/boilerplate') %>


    <form method ='POST'action='/todos' class='add'>
        <input type='text' name='title' placeholder='Title' />
        <input type='text' name='category' placeholder='Category' />
        <input type='text' name='status' placeholder='Status' />
        <input type='text' name='description' placeholder='Description' />
        <input type='submit' value='Add To-do' />
    </form>






<%- include('../partials/end') %>